
<div style="background-color:pink; ">
<h1>Wellcome</h1>

<form method="post" action="#.php">
  <fieldset>
    <legend>dossier</legend>
    <label for="prenom">Entrez votre prenom :</label>
    <input type="text" name="prenom" id="prenom"  autofocus="autofocus" autocomplate="of">
    <br> <br>
    <label for="nom"> Entrez votre email    : </label>
    <input type="email" name="nom" id="nom" > <br> <br>
    <input type="submit" value="Envoyer" name="submit" id="submit">

  </fieldset>
</form>
</div>